@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/city";
@import "./components/gathering";
@import "./components/support";

.container{
    width: 1153px;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    position: relative;
    overflow-x:hidden
    
}

body{
    background-color: #050404;
}