.about{
    background: #050404;

    height: 1211px;

    &__list{
        height: 626px;
        position: relative;
    }

    &__title{
        color: #FFD76E;
        text-align: center;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        padding: 40px 0;
    }

    &__desk{
        color: #FFF;
        text-align: justify;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }

    &__group{
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 892px;
    }


    &__subtitle{
        color: #FFD76E;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: absolute;
        top: 43.5%;
        left: 59%;
    }
    &__list__item{
        text-align: center;
        &__desk{
            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
             margin: 0;
    
        }
    }

    .alex__img{
        margin-bottom: 8px;
    }
    .taras__img{
        margin-bottom: 19px;
    }

    .jesika__img{
       margin-bottom: 19px;
    }

    .alex{
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
    
    }

    .taras{
        position: absolute;
        top: 59%;
        left: 16.5%;
    }

    .jesika{
        position: absolute;
        top: 59%;
        left: 44.5%;
    }

    .teodora{
       position: absolute;
        top: 44.5%;
        left: 64.5%;
    }

}








.yellow_box_about {
    width: 334px;
    height: 493px;
    border: 2px solid #FFD76E;
    position: absolute;
    top: 30%;
    left: 32.5%;

}

.white_box_about {
    width: 239px;
    height: 460px;
    transform: rotate(-90deg);
    border: 2px solid #FFF;
    position: absolute;
    top: 34.6%;
    left: 47%;
}




.white_box_about_left{
    width: 239px;
    height: 460px;
    transform: rotate(-100.004deg);
    border: 2px solid #FFF;
    position: absolute;
    top: 23%;
    left: -10px;
}

.yellow_box_about_left{
    width: 334px;
    height: 493px;
    transform: rotate(-10.004deg);
    border: 2px solid #FFD76E;
    position: absolute;
    top: 19.8%;
    left: -323px;
}