.about_us{
    background: #050404;
    position: relative;
    height: 1211px;
}

.about_title{
    color: #FFD76E;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 40px 0;
}

.about_top_p{
    color: #FFF;
    
    text-align: justify;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    
}

.about_group_p{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;

    text-align: center;
    margin: 0 auto;
    width: 892px;
}



.about_title_low{
    color: #FFD76E;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 53%;

    left: 59%;
}

.people_list_item_p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    
}

.people_list_item{
    text-align: center;
}

.alex{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    
}

.taras{
    position: absolute;
    top: 67%;
    left: 29.5%;
}

.jesika{
    position: absolute;
    top: 67%;
    left: 46.5%;

}

.teodora{
    position: absolute;
    top: 60%;
    left: 59%;
}

.alex_img{
    margin-bottom: 8px;
}
.taras_img{
    margin-bottom: 19px;
}

.jesika_img{
    margin-bottom: 19px;
}

.yellow_box_about {
    width: 334px;
    height: 493px;
    border: 2px solid #FFD76E;
    position: absolute;
    top: 42%;
    left: 32.5%;

}

.white_box_about {
    width: 239px;
    height: 460px;
    transform: rotate(-90deg);
    border: 2px solid #FFF;
    position: absolute;
    top: 58.5%;
    left: 47%;
}




.white_box_about_left{
    width: 239px;
    height: 460px;
    transform: rotate(-100.004deg);
    border: 2px solid #FFF;
    position: absolute;
    top: 23%;
    left: -10px;
}

.yellow_box_about_left{
    width: 334px;
    height: 493px;
    transform: rotate(-10.004deg);
    border: 2px solid #FFD76E;
    position: absolute;
    top: 10%;
    left: -323px;
}