.gathering{
    background-color: #050404;
    position: relative;
    padding: 41px 0 92px 0;
    .container{
        display: flex;
        justify-content: space-between;
    }
    &__title{

        color: #FFD76E;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }
    &__group{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 625px;
    }
    &__desk{


        color: #FFF;
        text-align: justify;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 559px;
        margin: 0;
        margin-top: 24px;
    }
    &__btn{


        padding: 0;
        color: #000;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 10px;
        background: #FFD76E;
        padding: 15px 31px;
        border: none;
        margin-top: 105px;
        
    }
    &__img{
        padding-top: 58px;
    }
}